.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 0 0 9px 4px #c4caea;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active {
  background-color: #7436e2;
  color: #fff;
}

.active:hover {
  background-color: #7436e2;
  color: #fff;
}


.active:active {
  background-color: #7436e2 !important;
  color: #fff !important;
}

.active:focus {
  background-color: #7436e2 !important;
  color: #fff !important;
}