<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="logo" src="../../../assets/images/demo.png" alt="logo">
    <span class="example-spacer"></span>
    <button *ngIf='afterUserLogin' mat-button class="example-icon" aria-label="Example icon-button with share icon"
      routerLink='user' routerLinkActive='active-link'>
      <span class="header-btn">User</span>
    </button>
    <button *ngIf='afterAdminLogin' mat-button class="example-icon" aria-label="Example icon-button"
      routerLink='admin' routerLinkActive='active-link'>
      <span class="header-btn">Dashboard</span>
    </button>
    <button mat-raised-button aria-label="Example icon-button with share icon"
     (click)='logout()' class="ml-2" *ngIf='afterLogin'>
      <span class="header-btn">Logout</span>
    </button>
    <button *ngIf='afterUserLogin' mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matBadge="{{ users && users.length }}" matBadgeColor="warn">notifications</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>