table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .UserBtns {
    float: right;
}
  
@media (max-width: 576px) {
  td, th {
    padding: 10px !important;
  }
  .mat-elevation-z8 {
    overflow-x: scroll !important;
  }
}