<div class="container">
  <h1 class="text-center mt-4">User Details</h1>
  <div class="row">
    <div *ngFor="let user of userDetails" class="col-lg-6">
      <mat-card class="mt-4">
        <ng-container *ngIf="userDetails">
          <p>First name: {{ user.firstname }}</p>
          <p>Last name: {{ user.lastname }}</p>
          <p>Age: {{ user.age }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Phone Number: {{ user.phonenumber }}</p>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>
