<!-- <div class="example-container" style="display: flex;
justify-content: center;
align-items: center;
flex-direction: column;" [formGroup]="profileForm">
  <mat-form-field appearance="fill" style="width: 50%;">
    <mat-label>Input</mat-label>
    <input matInput formControlName="multiInput">
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 50%;">
    <mat-label>Input</mat-label>
    <input matInput formControlName="singleInput">
  </mat-form-field>
  <button (click)= "getInputValues()" style="width: 25%;" mat-raised-button color="primary">Submit</button>
</div> -->

<app-header></app-header>


<router-outlet></router-outlet>