mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.login-button{
  width: 100%;
}

.login-alert-dialog {
  padding: 20px;
}

.login-error-icon {
  font-size: 35px;
}